body {
  background: linear-gradient(
    to left,
    rgb(158, 158, 161) 0%,
    rgb(52, 49, 55) 50%,
    rgb(53, 50, 56) 25%,
    rgb(1, 0, 9) 100%
  );
}
.container {
  border: none;
  border-radius: 20px;
  width: 1200px;
  height: 350px;
  margin-top: 150px;
  margin-left: 80px;
  background: linear-gradient(
    to right,
    rgb(158, 158, 161) 0%,
    rgb(52, 49, 55) 50%,
    rgb(53, 50, 56) 25%,
    rgb(1, 0, 9) 100%
  );
}
button {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  background-color: black;
  color: white;
}
button:hover {
  background-color: rgb(124, 122, 122);
  color: black;
  cursor: pointer;
  border: 2px solid black;
}
img {
  width: 380px;
  height: 250px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  transition: all 1s;
}
img:hover {
  transform: scale(1.1);
}

.img-con {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
