body {
  background: linear-gradient(
    to right,
    rgb(158, 158, 161) 0%,
    rgb(52, 49, 55) 50%,
    rgb(53, 50, 56) 25%,
    rgb(26, 24, 28) 100%
  );
}
button {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  background-color: black;
  color: white;
}
